@{
    ViewData["Title"] = "Home Page";
}

<div class="card-box pd-20 height-100-p mb-30">
					<div class="row align-items-center">
						<div class="col-md-4">
							<img src="~/vendors/images/banner-img.png" alt="" />
						</div>
						<div class="col-md-8">
							<h4 class="font-20 weight-500 mb-10 text-capitalize">
								Welcome back
								<div class="weight-600 font-30 text-blue">Johnny Brown!</div>
							</h4>
							<p class="font-18 max-width-600">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
								hic non repellendus debitis iure, doloremque assumenda. Autem
								modi, corrupti, nobis ea iure fugiat, veniam non quaerat
								mollitia animi error corporis.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-3 mb-30">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data">
									<div id="chart"></div>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">2020</div>
									<div class="weight-600 font-14">Contact</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 mb-30">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data">
									<div id="chart2"></div>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">400</div>
									<div class="weight-600 font-14">Deals</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 mb-30">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data">
									<div id="chart3"></div>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">350</div>
									<div class="weight-600 font-14">Campaign</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 mb-30">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data">
									<div id="chart4"></div>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">$6060</div>
									<div class="weight-600 font-14">Worth</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-8 mb-30">
						<div class="card-box height-100-p pd-20" style="position: relative;">
							<h2 class="h4 mb-20">Activity</h2>
							<div id="chart5" style="min-height: 350px;"><div id="apexcharts841859" class="apexcharts-canvas apexcharts841859 apexcharts-theme-light" style="width: 770px; height: 350px;"><svg id="SvgjsSvg2215" width="770" height="350" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><foreignObject x="0" y="0" width="770" height="350"><div class="apexcharts-legend apexcharts-align-right position-top" xmlns="http://www.w3.org/1999/xhtml" style="right: 0px; position: absolute; left: 0px; top: 0px;"><div class="apexcharts-legend-series" rel="1" data:collapsed="false" style="margin: 0px 5px;"><span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(27, 0, 255); color: rgb(27, 0, 255); height: 10px; width: 10px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 15px;"></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="In%20Progress" data:collapsed="false" style="color: rgb(53, 53, 53); font-size: 16px; font-weight: 400; font-family: Poppins, sans-serif;">In Progress</span></div><div class="apexcharts-legend-series" rel="2" data:collapsed="false" style="margin: 0px 5px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(245, 103, 103); color: rgb(245, 103, 103); height: 10px; width: 10px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 15px;"></span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Complete" data:collapsed="false" style="color: rgb(53, 53, 53); font-size: 16px; font-weight: 400; font-family: Poppins, sans-serif;">Complete</span></div></div><style type="text/css">	
    	
      .apexcharts-legend {	
        display: flex;	
        overflow: auto;	
        padding: 0 10px;	
      }	
      .apexcharts-legend.position-bottom, .apexcharts-legend.position-top {	
        flex-wrap: wrap	
      }	
      .apexcharts-legend.position-right, .apexcharts-legend.position-left {	
        flex-direction: column;	
        bottom: 0;	
      }	
      .apexcharts-legend.position-bottom.apexcharts-align-left, .apexcharts-legend.position-top.apexcharts-align-left, .apexcharts-legend.position-right, .apexcharts-legend.position-left {	
        justify-content: flex-start;	
      }	
      .apexcharts-legend.position-bottom.apexcharts-align-center, .apexcharts-legend.position-top.apexcharts-align-center {	
        justify-content: center;  	
      }	
      .apexcharts-legend.position-bottom.apexcharts-align-right, .apexcharts-legend.position-top.apexcharts-align-right {	
        justify-content: flex-end;	
      }	
      .apexcharts-legend-series {	
        cursor: pointer;	
        line-height: normal;	
      }	
      .apexcharts-legend.position-bottom .apexcharts-legend-series, .apexcharts-legend.position-top .apexcharts-legend-series{	
        display: flex;	
        align-items: center;	
      }	
      .apexcharts-legend-text {	
        position: relative;	
        font-size: 14px;	
      }	
      .apexcharts-legend-text *, .apexcharts-legend-marker * {	
        pointer-events: none;	
      }	
      .apexcharts-legend-marker {	
        position: relative;	
        display: inline-block;	
        cursor: pointer;	
        margin-right: 3px;	
        border-style: solid;
      }	
      	
      .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{	
        display: inline-block;	
      }	
      .apexcharts-legend-series.apexcharts-no-click {	
        cursor: auto;	
      }	
      .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {	
        display: none !important;	
      }	
      .apexcharts-inactive-legend {	
        opacity: 0.45;	
      }</style></foreignObject><g id="SvgjsG2217" class="apexcharts-inner apexcharts-graphical" transform="translate(46.734375, 50)"><defs id="SvgjsDefs2216"><linearGradient id="SvgjsLinearGradient2221" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop2222" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)" offset="0"></stop><stop id="SvgjsStop2223" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop><stop id="SvgjsStop2224" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop></linearGradient><clipPath id="gridRectMask841859"><rect id="SvgjsRect2226" width="719.265625" height="254.64" x="-3" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMask841859"><rect id="SvgjsRect2227" width="715.265625" height="254.64" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath></defs><rect id="SvgjsRect2225" width="14.859700520833336" height="252.64" x="0" y="0" rx="0" ry="0" fill="url(#SvgjsLinearGradient2221)" opacity="1" stroke-width="0" stroke-dasharray="3" class="apexcharts-xcrosshairs" y2="252.64" filter="none" fill-opacity="0.9"></rect><g id="SvgjsG2246" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG2247" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText2249" font-family="Poppins, sans-serif" x="59.438802083333336" y="281.64" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="400" fill="#353535" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2250">Jan</tspan><title>Jan</title></text><text id="SvgjsText2252" font-family="Poppins, sans-serif" x="178.31640625" y="281.64" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2253">Feb</tspan><title>Feb</title></text><text id="SvgjsText2255" font-family="Poppins, sans-serif" x="297.1940104166667" y="281.64" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2256">Mar</tspan><title>Mar</title></text><text id="SvgjsText2258" font-family="Poppins, sans-serif" x="416.07161458333337" y="281.64" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2259">Apr</tspan><title>Apr</title></text><text id="SvgjsText2261" font-family="Poppins, sans-serif" x="534.94921875" y="281.64" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2262">May</tspan><title>May</title></text><text id="SvgjsText2264" font-family="Poppins, sans-serif" x="653.8268229166666" y="281.64" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2265">Jun</tspan><title>Jun</title></text></g><line id="SvgjsLine2266" x1="0" y1="253.64" x2="713.265625" y2="253.64" stroke="#8fa6bc" stroke-dasharray="0" stroke-width="1"></line></g><g id="SvgjsG2283" class="apexcharts-grid"><g id="SvgjsG2284" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine2293" x1="0" y1="0" x2="713.265625" y2="0" stroke="#c7d2dd" stroke-dasharray="5" class="apexcharts-gridline"></line><line id="SvgjsLine2294" x1="0" y1="50.528" x2="713.265625" y2="50.528" stroke="#c7d2dd" stroke-dasharray="5" class="apexcharts-gridline"></line><line id="SvgjsLine2295" x1="0" y1="101.056" x2="713.265625" y2="101.056" stroke="#c7d2dd" stroke-dasharray="5" class="apexcharts-gridline"></line><line id="SvgjsLine2296" x1="0" y1="151.584" x2="713.265625" y2="151.584" stroke="#c7d2dd" stroke-dasharray="5" class="apexcharts-gridline"></line><line id="SvgjsLine2297" x1="0" y1="202.112" x2="713.265625" y2="202.112" stroke="#c7d2dd" stroke-dasharray="5" class="apexcharts-gridline"></line><line id="SvgjsLine2298" x1="0" y1="252.64" x2="713.265625" y2="252.64" stroke="#c7d2dd" stroke-dasharray="5" class="apexcharts-gridline"></line></g><g id="SvgjsG2285" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine2286" x1="0" y1="253.64" x2="0" y2="259.64" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2287" x1="118.87760416666667" y1="253.64" x2="118.87760416666667" y2="259.64" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2288" x1="237.75520833333334" y1="253.64" x2="237.75520833333334" y2="259.64" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2289" x1="356.6328125" y1="253.64" x2="356.6328125" y2="259.64" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2290" x1="475.5104166666667" y1="253.64" x2="475.5104166666667" y2="259.64" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2291" x1="594.3880208333334" y1="253.64" x2="594.3880208333334" y2="259.64" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2292" x1="713.265625" y1="253.64" x2="713.265625" y2="259.64" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine2300" x1="0" y1="252.64" x2="713.265625" y2="252.64" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine2299" x1="0" y1="1" x2="0" y2="252.64" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG2229" class="apexcharts-bar-series apexcharts-plot-series"><g id="SvgjsG2230" class="apexcharts-series" rel="1" seriesName="InxProgress" data:realIndex="0"><path id="SvgjsPath2232" d="M 44.5791015625 252.64L 44.5791015625 53.242925130208356Q 51.00895182291667 47.81307486979169 57.438802083333336 53.242925130208356L 57.438802083333336 252.64L 43.5791015625 252.64" fill="rgba(27,0,255,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask841859)" pathTo="M 44.5791015625 252.64L 44.5791015625 53.242925130208356Q 51.00895182291667 47.81307486979169 57.438802083333336 53.242925130208356L 57.438802083333336 252.64L 43.5791015625 252.64" pathFrom="M 44.5791015625 252.64L 44.5791015625 252.64L 57.438802083333336 252.64L 57.438802083333336 252.64L 43.5791015625 252.64" cy="50.52800000000002" cx="162.45670572916669" j="0" val="40" barHeight="202.11199999999997" barWidth="14.859700520833336"></path><path id="SvgjsPath2233" d="M 163.45670572916669 252.64L 163.45670572916669 113.87652513020832Q 169.88655598958334 108.44667486979165 176.31640625000003 113.87652513020832L 176.31640625000003 252.64L 162.45670572916669 252.64" fill="rgba(27,0,255,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask841859)" pathTo="M 163.45670572916669 252.64L 163.45670572916669 113.87652513020832Q 169.88655598958334 108.44667486979165 176.31640625000003 113.87652513020832L 176.31640625000003 252.64L 162.45670572916669 252.64" pathFrom="M 163.45670572916669 252.64L 163.45670572916669 252.64L 176.31640625000003 252.64L 176.31640625000003 252.64L 162.45670572916669 252.64" cy="111.16159999999999" cx="281.33430989583337" j="1" val="28" barHeight="141.4784" barWidth="14.859700520833336"></path><path id="SvgjsPath2234" d="M 282.33430989583337 252.64L 282.33430989583337 17.873325130208364Q 288.76416015625006 12.443474869791697 295.1940104166667 17.873325130208364L 295.1940104166667 252.64L 281.33430989583337 252.64" fill="rgba(27,0,255,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask841859)" pathTo="M 282.33430989583337 252.64L 282.33430989583337 17.873325130208364Q 288.76416015625006 12.443474869791697 295.1940104166667 17.873325130208364L 295.1940104166667 252.64L 281.33430989583337 252.64" pathFrom="M 282.33430989583337 252.64L 282.33430989583337 252.64L 295.1940104166667 252.64L 295.1940104166667 252.64L 281.33430989583337 252.64" cy="15.158400000000029" cx="400.21191406250006" j="2" val="47" barHeight="237.48159999999996" barWidth="14.859700520833336"></path><path id="SvgjsPath2235" d="M 401.21191406250006 252.64L 401.21191406250006 144.19332513020834Q 407.64176432291674 138.76347486979168 414.07161458333337 144.19332513020834L 414.07161458333337 252.64L 400.21191406250006 252.64" fill="rgba(27,0,255,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask841859)" pathTo="M 401.21191406250006 252.64L 401.21191406250006 144.19332513020834Q 407.64176432291674 138.76347486979168 414.07161458333337 144.19332513020834L 414.07161458333337 252.64L 400.21191406250006 252.64" pathFrom="M 401.21191406250006 252.64L 401.21191406250006 252.64L 414.07161458333337 252.64L 414.07161458333337 252.64L 400.21191406250006 252.64" cy="141.4784" cx="519.0895182291667" j="3" val="22" barHeight="111.16159999999999" barWidth="14.859700520833336"></path><path id="SvgjsPath2236" d="M 520.0895182291667 252.64L 520.0895182291667 83.55972513020835Q 526.5193684895834 78.12987486979168 532.9492187500001 83.55972513020835L 532.9492187500001 252.64L 519.0895182291667 252.64" fill="rgba(27,0,255,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask841859)" pathTo="M 520.0895182291667 252.64L 520.0895182291667 83.55972513020835Q 526.5193684895834 78.12987486979168 532.9492187500001 83.55972513020835L 532.9492187500001 252.64L 519.0895182291667 252.64" pathFrom="M 520.0895182291667 252.64L 520.0895182291667 252.64L 532.9492187500001 252.64L 532.9492187500001 252.64L 519.0895182291667 252.64" cy="80.84480000000002" cx="637.9671223958334" j="4" val="34" barHeight="171.79519999999997" barWidth="14.859700520833336"></path><path id="SvgjsPath2237" d="M 638.9671223958334 252.64L 638.9671223958334 129.03492513020834Q 645.39697265625 123.60507486979166 651.8268229166667 129.03492513020834L 651.8268229166667 252.64L 637.9671223958334 252.64" fill="rgba(27,0,255,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMask841859)" pathTo="M 638.9671223958334 252.64L 638.9671223958334 129.03492513020834Q 645.39697265625 123.60507486979166 651.8268229166667 129.03492513020834L 651.8268229166667 252.64L 637.9671223958334 252.64" pathFrom="M 638.9671223958334 252.64L 638.9671223958334 252.64L 651.8268229166667 252.64L 651.8268229166667 252.64L 637.9671223958334 252.64" cy="126.32000000000001" cx="756.8447265625" j="5" val="25" barHeight="126.31999999999998" barWidth="14.859700520833336"></path></g><g id="SvgjsG2238" class="apexcharts-series" rel="2" seriesName="Complete" data:realIndex="1"><path id="SvgjsPath2240" d="M 59.438802083333336 252.64L 59.438802083333336 103.77092513020834Q 65.86865234375 98.34107486979167 72.29850260416667 103.77092513020834L 72.29850260416667 252.64L 58.438802083333336 252.64" fill="rgba(245,103,103,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask841859)" pathTo="M 59.438802083333336 252.64L 59.438802083333336 103.77092513020834Q 65.86865234375 98.34107486979167 72.29850260416667 103.77092513020834L 72.29850260416667 252.64L 58.438802083333336 252.64" pathFrom="M 59.438802083333336 252.64L 59.438802083333336 252.64L 72.29850260416667 252.64L 72.29850260416667 252.64L 58.438802083333336 252.64" cy="101.05600000000001" cx="177.31640625000003" j="0" val="30" barHeight="151.58399999999997" barWidth="14.859700520833336"></path><path id="SvgjsPath2241" d="M 178.31640625000003 252.64L 178.31640625000003 154.29892513020835Q 184.74625651041669 148.8690748697917 191.17610677083337 154.29892513020835L 191.17610677083337 252.64L 177.31640625000003 252.64" fill="rgba(245,103,103,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask841859)" pathTo="M 178.31640625000003 252.64L 178.31640625000003 154.29892513020835Q 184.74625651041669 148.8690748697917 191.17610677083337 154.29892513020835L 191.17610677083337 252.64L 177.31640625000003 252.64" pathFrom="M 178.31640625000003 252.64L 178.31640625000003 252.64L 191.17610677083337 252.64L 191.17610677083337 252.64L 177.31640625000003 252.64" cy="151.584" cx="296.1940104166667" j="1" val="20" barHeight="101.05599999999998" barWidth="14.859700520833336"></path><path id="SvgjsPath2242" d="M 297.1940104166667 252.64L 297.1940104166667 68.40132513020835Q 303.62386067708337 62.97147486979168 310.0537109375 68.40132513020835L 310.0537109375 252.64L 296.1940104166667 252.64" fill="rgba(245,103,103,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask841859)" pathTo="M 297.1940104166667 252.64L 297.1940104166667 68.40132513020835Q 303.62386067708337 62.97147486979168 310.0537109375 68.40132513020835L 310.0537109375 252.64L 296.1940104166667 252.64" pathFrom="M 297.1940104166667 252.64L 297.1940104166667 252.64L 310.0537109375 252.64L 310.0537109375 252.64L 296.1940104166667 252.64" cy="65.68640000000002" cx="415.07161458333337" j="2" val="37" barHeight="186.95359999999997" barWidth="14.859700520833336"></path><path id="SvgjsPath2243" d="M 416.07161458333337 252.64L 416.07161458333337 204.82692513020834Q 422.50146484375006 199.39707486979168 428.9313151041667 204.82692513020834L 428.9313151041667 252.64L 415.07161458333337 252.64" fill="rgba(245,103,103,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask841859)" pathTo="M 416.07161458333337 252.64L 416.07161458333337 204.82692513020834Q 422.50146484375006 199.39707486979168 428.9313151041667 204.82692513020834L 428.9313151041667 252.64L 415.07161458333337 252.64" pathFrom="M 416.07161458333337 252.64L 416.07161458333337 252.64L 428.9313151041667 252.64L 428.9313151041667 252.64L 415.07161458333337 252.64" cy="202.112" cx="533.9492187500001" j="3" val="10" barHeight="50.52799999999999" barWidth="14.859700520833336"></path><path id="SvgjsPath2244" d="M 534.9492187500001 252.64L 534.9492187500001 113.87652513020832Q 541.3790690104167 108.44667486979165 547.8089192708335 113.87652513020832L 547.8089192708335 252.64L 533.9492187500001 252.64" fill="rgba(245,103,103,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask841859)" pathTo="M 534.9492187500001 252.64L 534.9492187500001 113.87652513020832Q 541.3790690104167 108.44667486979165 547.8089192708335 113.87652513020832L 547.8089192708335 252.64L 533.9492187500001 252.64" pathFrom="M 534.9492187500001 252.64L 534.9492187500001 252.64L 547.8089192708335 252.64L 547.8089192708335 252.64L 533.9492187500001 252.64" cy="111.16159999999999" cx="652.8268229166667" j="4" val="28" barHeight="141.4784" barWidth="14.859700520833336"></path><path id="SvgjsPath2245" d="M 653.8268229166667 252.64L 653.8268229166667 199.77412513020832Q 660.2566731770834 194.34427486979166 666.6865234375001 199.77412513020832L 666.6865234375001 252.64L 652.8268229166667 252.64" fill="rgba(245,103,103,1)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMask841859)" pathTo="M 653.8268229166667 252.64L 653.8268229166667 199.77412513020832Q 660.2566731770834 194.34427486979166 666.6865234375001 199.77412513020832L 666.6865234375001 252.64L 652.8268229166667 252.64" pathFrom="M 653.8268229166667 252.64L 653.8268229166667 252.64L 666.6865234375001 252.64L 666.6865234375001 252.64L 652.8268229166667 252.64" cy="197.05919999999998" cx="771.7044270833334" j="5" val="11" barHeight="55.580799999999996" barWidth="14.859700520833336"></path></g><g id="SvgjsG2231" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG2239" class="apexcharts-datalabels" data:realIndex="1"></g></g><line id="SvgjsLine2301" x1="0" y1="0" x2="713.265625" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2302" x1="0" y1="0" x2="713.265625" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG2303" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG2304" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG2305" class="apexcharts-point-annotations"></g></g><g id="SvgjsG2267" class="apexcharts-yaxis" rel="0" transform="translate(16.734375, 0)"><g id="SvgjsG2268" class="apexcharts-yaxis-texts-g"><text id="SvgjsText2269" font-family="Poppins, sans-serif" x="20" y="51.5" text-anchor="end" dominant-baseline="auto" font-size="16px" font-weight="regular" fill="#353535" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2270">50</tspan></text><text id="SvgjsText2271" font-family="Poppins, sans-serif" x="20" y="102.02799999999999" text-anchor="end" dominant-baseline="auto" font-size="16px" font-weight="regular" fill="#353535" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2272">40</tspan></text><text id="SvgjsText2273" font-family="Poppins, sans-serif" x="20" y="152.55599999999998" text-anchor="end" dominant-baseline="auto" font-size="16px" font-weight="regular" fill="#353535" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2274">30</tspan></text><text id="SvgjsText2275" font-family="Poppins, sans-serif" x="20" y="203.08399999999997" text-anchor="end" dominant-baseline="auto" font-size="16px" font-weight="regular" fill="#353535" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2276">20</tspan></text><text id="SvgjsText2277" font-family="Poppins, sans-serif" x="20" y="253.61199999999997" text-anchor="end" dominant-baseline="auto" font-size="16px" font-weight="regular" fill="#353535" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2278">10</tspan></text><text id="SvgjsText2279" font-family="Poppins, sans-serif" x="20" y="304.14" text-anchor="end" dominant-baseline="auto" font-size="16px" font-weight="regular" fill="#353535" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Poppins, sans-serif;"><tspan id="SvgjsTspan2280">0</tspan></text></g><g id="SvgjsG2281" class="apexcharts-yaxis-title"><text id="SvgjsText2282" font-family="Poppins, sans-serif" x="-15.28125" y="176.32" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="900" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-title-text " style="font-family: Poppins, sans-serif;" transform="rotate(-90 0 0)"></text></g></g></svg><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Poppins, sans-serif; font-size: 15px;"></div><div class="apexcharts-tooltip-series-group"><span class="apexcharts-tooltip-marker" style="background-color: rgb(27, 0, 255);"></span><div class="apexcharts-tooltip-text" style="font-family: Poppins, sans-serif; font-size: 15px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group"><span class="apexcharts-tooltip-marker" style="background-color: rgb(245, 103, 103);"></span><div class="apexcharts-tooltip-text" style="font-family: Poppins, sans-serif; font-size: 15px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
						<div class="resize-triggers"><div class="expand-trigger"><div style="width: 811px; height: 438px;"></div></div><div class="contract-trigger"></div></div></div>
					</div>
					<div class="col-xl-4 mb-30">
						<div class="card-box height-100-p pd-20" style="position: relative;">
							<h2 class="h4 mb-20">Lead Target</h2>
							<div id="chart6" style="min-height: 311.775px;"><div id="apexcharts841896" class="apexcharts-canvas apexcharts841896 apexcharts-theme-light" style="width: 350px; height: 311.775px;"><svg id="SvgjsSvg2306" width="350" height="311.775" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG2308" class="apexcharts-inner apexcharts-graphical" transform="translate(13, 0)"><defs id="SvgjsDefs2307"><clipPath id="gridRectMask841896"><rect id="SvgjsRect2309" width="332" height="350" x="-3" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMask841896"><rect id="SvgjsRect2310" width="328" height="350" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient2316" x1="1" y1="0" x2="0" y2="1"><stop id="SvgjsStop2317" stop-opacity="1" stop-color="rgba(242,242,242,1)" offset="0"></stop><stop id="SvgjsStop2318" stop-opacity="1" stop-color="rgba(242,242,242,1)" offset="0.5"></stop><stop id="SvgjsStop2319" stop-opacity="1" stop-color="rgba(242,242,242,1)" offset="0.65"></stop><stop id="SvgjsStop2320" stop-opacity="1" stop-color="rgba(242,242,242,1)" offset="0.91"></stop></linearGradient><linearGradient id="SvgjsLinearGradient2328" x1="1" y1="0" x2="0" y2="1"><stop id="SvgjsStop2329" stop-opacity="1" stop-color="rgba(11,19,43,1)" offset="0"></stop><stop id="SvgjsStop2330" stop-opacity="1" stop-color="rgba(11,19,43,1)" offset="0.5"></stop><stop id="SvgjsStop2331" stop-opacity="1" stop-color="rgba(11,19,43,1)" offset="0.65"></stop><stop id="SvgjsStop2332" stop-opacity="1" stop-color="rgba(11,19,43,1)" offset="0.91"></stop></linearGradient></defs><g id="SvgjsG2312" class="apexcharts-radialbar"><g id="SvgjsG2313"><g id="SvgjsG2314" class="apexcharts-tracks"><g id="SvgjsG2315" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 93.60436802928362 232.39563197071635 A 98.14024390243904 98.14024390243904 0 1 1 232.39563197071635 232.39563197071635" fill="none" fill-opacity="1" stroke="rgba(242,242,242,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="32.25841463414634" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 93.60436802928362 232.39563197071635 A 98.14024390243904 98.14024390243904 0 1 1 232.39563197071635 232.39563197071635"></path></g></g><g id="SvgjsG2322"><g id="SvgjsG2327" class="apexcharts-series apexcharts-radial-series" seriesName="AchievexGoals" rel="1" data:realIndex="0"><path id="SvgjsPath2333" d="M 93.60436802928362 232.39563197071635 A 98.14024390243904 98.14024390243904 0 1 1 249.65269211624656 116.92594632293346" fill="none" fill-opacity="0.85" stroke="url(#SvgjsLinearGradient2328)" stroke-opacity="1" stroke-linecap="butt" stroke-width="33.25609756097561" stroke-dasharray="4" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="197" data:value="73" index="0" j="0" data:pathOrig="M 93.60436802928362 232.39563197071635 A 98.14024390243904 98.14024390243904 0 1 1 249.65269211624656 116.92594632293346"></path></g><circle id="SvgjsCircle2323" r="77.01103658536587" cx="163" cy="163" class="apexcharts-radialbar-hollow" fill="transparent"></circle><g id="SvgjsG2324" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText2325" font-family="Helvetica, Arial, sans-serif" x="163" y="283" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="400" fill="#0b132b" class="apexcharts-text apexcharts-datalabel-label" style="font-family: Helvetica, Arial, sans-serif;">Achieve Goals</text><text id="SvgjsText2326" font-family="Helvetica, Arial, sans-serif" x="163" y="255" text-anchor="middle" dominant-baseline="auto" font-size="22px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">73%</text></g></g></g></g><line id="SvgjsLine2334" x1="0" y1="0" x2="326" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2335" x1="0" y1="0" x2="326" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line></g></svg><div class="apexcharts-legend"></div></div></div>
						<div class="resize-triggers"><div class="expand-trigger"><div style="width: 391px; height: 438px;"></div></div><div class="contract-trigger"></div></div></div>
					</div>
				</div>
				<div class="card-box mb-30">
					<h2 class="h4 pd-20">Best Selling Products</h2>
					<table class="data-table table nowrap">
						<thead>
							<tr>
								<th class="table-plus datatable-nosort">Product</th>
								<th>Name</th>
								<th>Color</th>
								<th>Size</th>
								<th>Price</th>
								<th>Oty</th>
								<th class="datatable-nosort">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="table-plus">
									<img
										src="~/vendors/images/product-1.jpg"
										width="70"
										height="70"
										alt=""
									/>
								</td>
								<td>
									<h5 class="font-16">Shirt</h5>
									by John Doe
								</td>
								<td>Black</td>
								<td>M</td>
								<td>$1000</td>
								<td>1</td>
								<td>
									<div class="dropdown">
										<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
										>
											<i class="dw dw-more"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
										>
											<a class="dropdown-item" href="#"
												><i class="dw dw-eye"></i> View</a
											>
											<a class="dropdown-item" href="#"
												><i class="dw dw-edit2"></i> Edit</a
											>
											<a class="dropdown-item" href="#"
												><i class="dw dw-delete-3"></i> Delete</a
											>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="table-plus">
									<img
										src="~/vendors/images/product-2.jpg"
										width="70"
										height="70"
										alt=""
									/>
								</td>
								<td>
									<h5 class="font-16">Boots</h5>
									by Lea R. Frith
								</td>
								<td>brown</td>
								<td>9UK</td>
								<td>$900</td>
								<td>1</td>
								<td>
									<div class="dropdown">
										<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
										>
											<i class="dw dw-more"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
										>
											<a class="dropdown-item" href="#"
												><i class="dw dw-eye"></i> View</a
											>
											<a class="dropdown-item" href="#"
												><i class="dw dw-edit2"></i> Edit</a
											>
											<a class="dropdown-item" href="#"
												><i class="dw dw-delete-3"></i> Delete</a
											>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="table-plus">
									<img
										src="~/vendors/images/product-3.jpg"
										width="70"
										height="70"
										alt=""
									/>
								</td>
								<td>
									<h5 class="font-16">Hat</h5>
									by Erik L. Richards
								</td>
								<td>Orange</td>
								<td>M</td>
								<td>$100</td>
								<td>4</td>
								<td>
									<div class="dropdown">
										<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
										>
											<i class="dw dw-more"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
										>
											<a class="dropdown-item" href="#"
												><i class="dw dw-eye"></i> View</a
											>
											<a class="dropdown-item" href="#"
												><i class="dw dw-edit2"></i> Edit</a
											>
											<a class="dropdown-item" href="#"
												><i class="dw dw-delete-3"></i> Delete</a
											>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="table-plus">
									<img
										src="~/vendors/images/product-4.jpg"
										width="70"
										height="70"
										alt=""
									/>
								</td>
								<td>
									<h5 class="font-16">Long Dress</h5>
									by Renee I. Hansen
								</td>
								<td>Gray</td>
								<td>L</td>
								<td>$1000</td>
								<td>1</td>
								<td>
									<div class="dropdown">
										<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
										>
											<i class="dw dw-more"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
										>
											<a class="dropdown-item" href="#"
												><i class="dw dw-eye"></i> View</a
											>
											<a class="dropdown-item" href="#"
												><i class="dw dw-edit2"></i> Edit</a
											>
											<a class="dropdown-item" href="#"
												><i class="dw dw-delete-3"></i> Delete</a
											>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="table-plus">
									<img
										src="~/vendors/images/product-5.jpg"
										width="70"
										height="70"
										alt=""
									/>
								</td>
								<td>
									<h5 class="font-16">Blazer</h5>
									by Vicki M. Coleman
								</td>
								<td>Blue</td>
								<td>M</td>
								<td>$1000</td>
								<td>1</td>
								<td>
									<div class="dropdown">
										<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
										>
											<i class="dw dw-more"></i>
										</a>
										<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
										>
											<a class="dropdown-item" href="#"
												><i class="dw dw-eye"></i> View</a
											>
											<a class="dropdown-item" href="#"
												><i class="dw dw-edit2"></i> Edit</a
											>
											<a class="dropdown-item" href="#"
												><i class="dw dw-delete-3"></i> Delete</a
											>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="footer-wrap pd-20 mb-20 card-box">
					DeskApp - Bootstrap 4 Admin Template By
					<a href="https://www.linkedin.com/in/ahmed-hassan-028620211/" target="_blank"
						>Ahmed Hassan</a
					>
				</div>
